$bg: white;
$fg: rgba(0, 0, 0, 0.25);
$header-height: 60px;

body {
	margin: 0;

	background-image: radial-gradient(circle, $fg 1px, rgba(0, 0, 0, 0) 1px);
	background-size: 40px 40px;
}

header {
	height: $header-height;
	padding: 0 1rem;

	border-bottom: 1px solid $fg;
	background-color: $bg;
	h1 {
		font-family: 'VT323', monospace;
		font-size: 3rem;
		line-height: $header-height;

		margin: 0;
	}
}

#app {
	display: flex;
	flex-direction: column;

	height: calc(100vh - #{$header-height});
	min-height: 435px;

	align-items: center;
	justify-content: center;

	#canvas-wrapper {
		canvas {
			width: 100%;
			height: 100%;

			box-shadow: 3px 3px 0 0 rgba(1, 1, 1, 0.1);
		}
	}
}
